In [1]:
import pandas as pd
from chembl_webresource_client.new_client import new_client

In [31]:
df = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\\NN GTPase Code\\NN_molecules_Newfeatures_GTPase_KRAS.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\TheSh\AppData\Local\Temp\ipykernel_14316\1477573848.py:1: SyntaxWarning: invalid escape sequence '\T'
  df = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\\NN GTPase Code\\NN_molecules_Newfeatures_GTPase_KRAS.csv")

   Unnamed: 0      chembl_id          Predicted_Value
0           0  CHEMBL4650272  [np.float32(2.3072793)]
1           1  CHEMBL1201265  [np.float32(2.3409638)]
2           2  CHEMBL5315118  [np.float32(2.6280096)]
3           3  CHEMBL1200989  [np.float32(2.7766352)]
4           4  CHEMBL1200384  [np.float32(3.0468051)]

In [34]:
list = []
for i in df["chembl_id"]:
    molecule = new_client.molecule
    m1 = molecule.filter(chembl_id=i).only(
        ['molecule_chembl_id', 'pref_name', 'molecule_structures'])
    targets = pd.DataFrame.from_dict(m1)
    #print(targets['molecule_chembl_id'][0])
    if targets['molecule_chembl_id'][0] == i:
        list.append([i,targets['pref_name'][0]])
        print(i,targets['pref_name'][0])
finals_2 = pd.DataFrame(list)

CHEMBL4650272 TRILACICLIB DIHYDROCHLORIDE
CHEMBL1201265 METHYLPREDNISOLONE HEMISUCCINATE
CHEMBL5315118 ILOPROST TROMETHAMINE
CHEMBL1200989 ALCLOMETASONE DIPROPIONATE
CHEMBL1200384 BETAMETHASONE DIPROPIONATE
CHEMBL650 METHYLPREDNISOLONE
CHEMBL3989850 ECAMSULE
CHEMBL1200545 DIFLORASONE DIACETATE
CHEMBL1451116 IODOFORM
CHEMBL1339 VARDENAFIL HYDROCHLORIDE
CHEMBL389621 HYDROCORTISONE

In [25]:
finals_2

                0                            1
0   CHEMBL1200953     HYDROCORTISONE PROBUTATE
1       CHEMBL717  MEDROXYPROGESTERONE ACETATE
2   CHEMBL2107389         GESTONORONE CAPROATE
3   CHEMBL3707377          SEGESTERONE ACETATE
4   CHEMBL1411731  TALAMPICILLIN HYDROCHLORIDE
5   CHEMBL1201101       TESTOSTERONE CYPIONATE
6   CHEMBL1201064      FLUOROMETHOLONE ACETATE
7   CHEMBL1200975        CLOCORTOLONE PIVALATE
8   CHEMBL1201749                DIFLUPREDNATE
9   CHEMBL1200545        DIFLORASONE DIACETATE
10     CHEMBL1456        MYCOPHENOLATE MOFETIL