In [147]:
import pandas as pd
import numpy as np
from chembl_webresource_client.new_client import new_client

In [148]:
GRF = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\RF gtpase code\RF_molecules_Newfeatures_GTPase_KRas.csv")
CRF = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\RF G12C Code\RF_molecules_Newfeatures_G12C.csv")
DRF = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\RF G12D code\RF_molecules_Newfeatures_G12D.csv")
GNN = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\\NN GTPase Code\\NN_molecules_Newfeatures_GTPase_KRAS.csv")
CNN = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\\NN G12C Code\\NN_molecules_Newfeatures_G12C.csv")
DNN = pd.read_csv("C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\\NN G12D Code\\NN_molecules_Newfeatures_G12D.csv")

In [149]:
# use this to convert the Neural Network pIC50 values to floats in the dataframe
GNN["Predicted_Value"] = GNN["Predicted_Value"].str.extract(r'np\.float32\((.*?)\)')[0].astype(float)
CNN["Predicted_Value"] = CNN["Predicted_Value"].str.extract(r'np\.float32\((.*?)\)')[0].astype(float)
DNN["Predicted_Value"] = DNN["Predicted_Value"].str.extract(r'np\.float32\((.*?)\)')[0].astype(float)

# and also drop the Unnamed: 0 column
GNN = GNN.drop(["Unnamed: 0"], axis=1)
CNN = CNN.drop(["Unnamed: 0"], axis=1)
DNN = DNN.drop(["Unnamed: 0"], axis=1)
GNN.head()

       chembl_id  Predicted_Value
0  CHEMBL2146883         8.953490
1  CHEMBL3301603         7.759499
2  CHEMBL1200678         7.565260
3     CHEMBL1668         7.532962
4  CHEMBL3348963         7.199415

       chembl_id  Predicted_Value
0     CHEMBL1184              NaN
1      CHEMBL730              NaN
2  CHEMBL2110948              NaN
3  CHEMBL1201264              NaN
4  CHEMBL1401367              NaN

In [150]:
# drop column frequency for Random Forest
GRF = GRF.drop(["Frequency"], axis=1)
DRF = DRF.drop(["Frequency"], axis=1)
CRF = CRF.drop(["Frequency"], axis=1)

# rename them to fit Neural Network convention
GRF.rename(columns={"ChEMBL ID": "chembl_id", "Avg Predicted Value": "Predicted_Value"}, inplace=True)
DRF.rename(columns={"ChEMBL ID": "chembl_id", "Avg Predicted Value": "Predicted_Value"}, inplace=True)
CRF.rename(columns={"ChEMBL ID": "chembl_id", "Avg Predicted Value": "Predicted_Value"}, inplace=True)
GRF.head()

       chembl_id  Predicted_Value
0  CHEMBL4594350         8.106427
1  CHEMBL2359966         7.497036
2  CHEMBL2361370         7.419709
3  CHEMBL3989958         7.372708
4  CHEMBL3707183         7.497036

In [151]:
df_set = {
  "Gtpase Random Forest": GRF,
  "G12C Random Forest": CRF,
  "G12D Random Forest": DRF,
  "Gtpase Neural Network": GNN,
  "G12C Neural Network": CNN,
  "G12D Neural Network": DNN
}

In [152]:
list = []
for key, value in df_set.items():
    list.append([key, " "," "])
    df = value
    for i in df["chembl_id"]:
        molecule = new_client.molecule
        m1 = molecule.filter(chembl_id=i).only(
            ['molecule_chembl_id', 'pref_name', 'molecule_structures'])
        targets = pd.DataFrame.from_dict(m1)
        #print(targets['molecule_chembl_id'][0])
        if targets['molecule_chembl_id'][0] == i:
            list.append([i,targets['pref_name'][0],float(df.loc[df["chembl_id"]== i ]["Predicted_Value"].values[0])])
            # print(i,targets['pref_name'][0],df[df["chembl_id"]== i ]["Predicted_Value"].values[0])
    list.append([" ", " "," "])

In [153]:
list

[['Gtpase Random Forest', ' ', ' '],
 ['CHEMBL4594350', 'ADAGRASIB', 8.106427136975098],
 ['CHEMBL2359966', 'QUININE SULFATE', 7.497035616770629],
 ['CHEMBL2361370', 'PENBUTOLOL SULFATE', 7.419709268156769],
 ['CHEMBL3989958', 'IVOSIDENIB', 7.372708472127514],
 ['CHEMBL3707183', 'QUINIDINE SULFATE', 7.497035616770629],
 ['CHEMBL4297091', 'CODEINE SULFATE', 7.425687232920642],
 ['CHEMBL3187985', 'APOMORPHINE HYDROCHLORIDE', 7.257022141325173],
 ['CHEMBL2103744', 'MORPHINE SULFATE', 7.2252363553078975],
 ['CHEMBL3183409', 'APALUTAMIDE', 7.217008092870295],
 ['CHEMBL4535757', 'SOTORASIB', 7.173295985258044],
 [' ', ' ', ' '],
 ['G12C Random Forest', ' ', ' '],
 ['CHEMBL1201174', 'SITAGLIPTIN PHOSPHATE', 7.608019155290329],
 ['CHEMBL5315049', 'SITAGLIPTIN FUMARATE', 7.513760295461277],
 ['CHEMBL1200588', 'CLINDAMYCIN HYDROCHLORIDE', 7.478496654781677],
 ['CHEMBL1779710', 'EVOGLIPTIN', 7.457149776386765],
 ['CHEMBL535650', 'MEFLOQUINE HYDROCHLORIDE', 7.455809946116003],
 ['CHEMBL3989551', 'LINCOMYCIN HYDROCHLORIDE', 7.436815981985443],
 ['CHEMBL1422', 'SITAGLIPTIN', 7.416972368881023],
 ['CHEMBL1587', 'POLYTHIAZIDE', 7.418763961608449],
 ['CHEMBL3991065', 'ATOGEPANT', 7.339404767032027],
 ['CHEMBL1753', 'CLINDAMYCIN', 7.347947023956689],
 [' ', ' ', ' '],
 ['G12D Random Forest', ' ', ' '],
 ['CHEMBL1200866', 'PERFLUBRON', 7.944963719128017],
 ['CHEMBL1187833', 'UMECLIDINIUM', 7.924939419508702],
 ['CHEMBL46286', 'OMACETAXINE MEPESUCCINATE', 7.924906008010591],
 ['CHEMBL3544914', 'TEZACAFTOR', 7.932936338021825],
 ['CHEMBL2448612', 'ERGOTAMINE TARTRATE', 7.922379519682757],
 ['CHEMBL2364638', 'UBROGEPANT', 7.914718828254768],
 ['CHEMBL3989826', 'OXYCODONE TEREPHTHALATE', 7.915953196686346],
 ['CHEMBL575', 'METHICILLIN', 7.917130732085558],
 ['CHEMBL5314588', 'PERFLUOROHEXYLOCTANE', 7.908704371417476],
 ['CHEMBL523299', 'UMECLIDINIUM BROMIDE', 7.90049378041568],
 [' ', ' ', ' '],
 ['Gtpase Neural Network', ' ', ' '],
 ['CHEMBL2146883', 'COBIMETINIB', 8.95349],
 ['CHEMBL3301603', 'GILTERITINIB FUMARATE', 7.759499],
 ['CHEMBL1200678', 'ATAZANAVIR SULFATE', 7.5652604],
 ['CHEMBL1668', 'RESCINNAMINE', 7.5329623],
 ['CHEMBL3348963', 'TELOTRISTAT ETIPRATE', 7.1994147],
 ['CHEMBL1201244', 'ROCURONIUM', 6.9268174],
 ['CHEMBL6966', 'VERAPAMIL', 6.3693757],
 ['CHEMBL282724', 'SITAXENTAN', 5.7964606],
 ['CHEMBL2040682', 'CICLESONIDE', 5.6234417],
 ['CHEMBL3218576', 'COPANLISIB', 5.4535313],
 ['CHEMBL1678', 'DONEPEZIL HYDROCHLORIDE', 5.4348316],
 [' ', ' ', ' '],
 ['G12C Neural Network', ' ', ' '],
 ['CHEMBL1184', 'ACETYLCHOLINE CHLORIDE', nan],
 ['CHEMBL730', 'NITROGLYCERIN', nan],
 ['CHEMBL2110948', 'POLDINE', nan],
 ['CHEMBL1201264', 'METHANTHELINE', nan],
 ['CHEMBL1401367', 'PIPENZOLATE BROMIDE', nan],
 ['CHEMBL1200829', 'GLUCONOLACTONE', nan],
 ['CHEMBL1201336', 'FOSPHENYTOIN', nan],
 ['CHEMBL404422', 'BUTETHAL', nan],
 ['CHEMBL1401', 'NITAZOXANIDE', nan],
 ['CHEMBL1411731', 'TALAMPICILLIN HYDROCHLORIDE', nan],
 ['CHEMBL1200398', 'BUTOCONAZOLE NITRATE', nan],
 [' ', ' ', ' '],
 ['G12D Neural Network', ' ', ' '],
 ['CHEMBL1318287', 'PENTOLINIUM TARTRATE', 1.7297717],
 ['CHEMBL1577', 'METHYCLOTHIAZIDE', 2.4957638],
 ['CHEMBL730', 'NITROGLYCERIN', 2.5334873],
 ['CHEMBL435', 'HYDROCHLOROTHIAZIDE', 2.556745],
 ['CHEMBL3545313', 'BEMPEDOIC ACID', 2.6054378],
 ['CHEMBL1243', 'SULFABENZAMIDE', 2.6374588],
 ['CHEMBL404422', 'BUTETHAL', 2.9931388],
 ['CHEMBL1455', 'ALTRETAMINE', 3.099568],
 ['CHEMBL2111157', 'DIPIPANONE', 3.1700957],
 ['CHEMBL1524273', 'PHTHALYLSULFATHIAZOLE', 3.1897159],
 ['CHEMBL61593', 'CYCLOTHIAZIDE', 3.3447206],
 [' ', ' ', ' ']]

In [154]:
final = pd.DataFrame(list)

In [155]:
final.head()

                      0                   1         2
0  Gtpase Random Forest
1         CHEMBL4594350           ADAGRASIB  8.106427
2         CHEMBL2359966     QUININE SULFATE  7.497036
3         CHEMBL2361370  PENBUTOLOL SULFATE  7.419709
4         CHEMBL3989958          IVOSIDENIB  7.372708

In [158]:
final.to_excel("list_for_Risha.xlsx", index=False)